<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-sm text-center">
          <img
            alt="escom"
            src="https://drive.google.com/uc?export=view&id=1_E743BnUabxqDwEzNU1vpqWxI7-2CvJK"
            height="100px"
          />
        </div>
        <div class="col-sm text-center">
          <h2>Creación de contraseña para usuario nuevo</h2>
        </div>
        <div class="col-sm text-center">
          <img
            alt="ipn"
            src="https://drive.google.com/uc?export=view&id=18Fn7pk0IMEKXD0ZJllJAOWXdfEmYs089"
            height="100px"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm text-center">
          <h4>
            NOMBRE, ¡Bienvenido a la plataforma web de N E U R O P S I!
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <h5>
            <a href="/" class="btn btn-primary">HOLA</a>
          </h5>
        </div>
      </div>
      
    </div>
  </body>
</html>
